@charset "utf-8";

//公共样式
a{
    display: block;
}
img{
    display: block;
}
span{
    display: block;
}
// 广告图
.adv{
    background: palegreen;
    position: relative;
    a{
        cursor: pointer;
        img{
        width: 100%;
        display: block;    
        height: 60px;
    }
    }
}