@charset "utf-8";

html,body,ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{
    margin: 0;padding: 0;
}
body{font-family: "微软雅黑";}
a{text-decoration: none;color: #fff;}
ul,ol,li{list-style: none;}
img{display: block;border:0;}
i,em{font-weight: normal;}
i{font-style: normal;}
b,strong{font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}
.clear_fix:after{content:".";clear:both;height:0;overflow:hidden;visibility: hidden;display:block;}
.clear_fix{zoom:1;}
