@charset "utf-8";
// body{
//     min-width: 1686px;
// }
//公共样式
a{
    display: block;
    cursor: pointer;
}
img{
    display: block;
}
span{
    display: block;
}
$font12:12px;
body{
    font-size: 12px;
}
//中心版区
.advMain,.navMian,.headMain,.goodMain{
   width: 990px;
    margin: 0 auto;
}
.adv{
    background: #c40000;
    width: 100%;
    .advMain{
        position: relative;
        a{
            img{
                height: 60px;
                width: 100%;
                transition: 0.5s;
            }
        }
        span{
        width: 32px;
        height: 32px;
        position: absolute;
        background-image: url(../images/a.png);
        background-position: -456px -414px;
        background-repeat:no-repeat; 
        top: 50%;
        margin-top:-16px; 
        right: -30px;
    }
    }
   
}
// nav
.nav{
    background: #f4f4f4;
    .navMian{
        height: 28px;
        .navL{
            width: 150px;
            color: #998c59;
            line-height: 28px;
            font-size: $font12;
            text-indent: 12px;
            float: left;
        }
        .navR{
            float: right;
            .logReg{
                float: left;
                .login{
                line-height: 28px;
                font-size: $font12;
                color: #a49999;
                padding: 0 9px;
                float: left;
                &:hover{
                   text-decoration: underline;
                    color: #333
                }
                }
                .reg{
                    float: left;
                    padding: 0 9px;
                    font-size:$font12; 
                    line-height: 28px;
                    color: #ae0f17;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
           .list{
               float: left;
               span{
                   float: left;
                   padding: 0 10px;
                   font-size:12px;
                   color: #999999;
                   line-height: 28px; 
               }
               ul{
                   float: left;
                   li{
                       float: left;
                       a{
                        padding: 0 10px;
                        color: #999999;
                        font-size: 12px;
                        line-height: 28px;
                        &:hover{
                        text-decoration: underline;
                        color: #333;
                        }
                        
                       }
                   }
                   .Li{
                       position: relative;
                        .liA{
                        border-top: 1px solid #f4f4f4;
                        border-left: 1px solid #f4f4f4;
                        border-right: 1px solid #f4f4f4;
                        line-height: 26px;
                         &:hover{
                           box-sizing: border-box;
                           background: #fff; 
                        }
                        }
                        .liList{
                            width: 202px;
                            height: 167px;
                            border: 1px solid #f4f4f4;
                            box-sizing: border-box;
                            position: absolute;
                            right: 0;
                            padding: 15px 8.5px;
                            display: none;
                            background: #fff;
                            ul{
                                width: 185px;
                                height: 78px;
                                margin: 0 auto;
                                border-bottom:1px solid #f4f4f4; 
                                margin-bottom: 12px;
                                li{
                                    float: left;
                                    a{
                                       padding: 5px 0;
                                        width: 92.5px;
                                        color: #666;
                                        float: left;
                                        text-align: center;
                                        line-height: 26px;
                                    }
                                }
                            }
                            p{
                                width: 185px;
                                margin: 0 auto;
                                line-height: 28px;
                                font-size: 12px;
                                color: #666;
                                text-align: center;
                                overflow: hidden;
                            }
                        }
                    
                   }
                   
               }
               .English{
                   cursor: pointer;
                   float: left;
                   color: #999999;
                   font-size: 12px;
                   line-height: 28px;
                   padding: 0 10px;
                   &:hover{
                       text-decoration: underline;
                       color: #333;
                   }
               }
           }
        }
    }
}
// 搜索
.head{
    width: 100%;
    .headMain{
        height: 115px;
        .headL{
            float: left;
            width: 404px;
            height:75px;
            padding-top: 18px;
            h1{
                width: 121px;
                float: left;
                height: 75px;
                a{
                 width: 121px;
                 height: 75px;  
                }
            }
            .logoR{
                width: 175px;
                height: 75px; 
                float: left;
                img{
                    width: 100%;
                    height: 100%;;
                }
            }
        }
        .find{
            margin-top:38px;
            height: 40px; 
            width: 392px;
            float: left;
            .findL{
                width: 314px;
                height: 38px;
                border: 1px solid #ddd;
                float: left;
                position: relative;
                i{
                    margin: 9px 6px 0 6px;
                    float: left;
                    display: block;
                    width: 18px;
                    height: 18px;
                    background-image:url(../images/a.png);
                    background-position:-379px -420px;  
                }
                input{
                width:284px;
                border: none;
                height:100%;
                outline: none;
            }
            .Input{
                width: 314px;
                height: 79px;
                position: absolute;
                top: 39px;
                background: #fff;
                display: none;
                border-radius: 3px;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
                p{
                   line-height: 32px;
                    padding: 0 12px;
                    overflow: hidden;
                    color: #ccc;
                    font-size: 12px;

                }
                div{
                    padding-left: 12px;
                    height: 42px;
                    a{
                        width:46px;
                        height:21px;
                        font-size: 12px;
                        color: #cc5252;
                        border: 1px solid #cc5252; 
                        border-radius:3px; 
                        margin-bottom: 10px;
                        padding: 6px 7px;
                        text-align: center;
                        line-height: 21px;
                        &:hover{
                                background-color: #cc5252;
                                color: #fff;
                        }
                    }
                }
            }
            }
            .findR{
                float: right;
                width: 76px;
                height: 40px;
                background-image:linear-gradient(-270deg,#da6666 0,#b33636 100%) ;
                color: #fff;
                font-size: 14px;
                text-align: center;
                line-height: 40px;
            }
        }
        .headR{
            width: 179px;
            height: 115px;
            float: right;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .code{
            width: 107px;
            height: 115px;
            float: right;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
// goods
.goods{
    .goodMain{
        padding-top:21px;
        .text{
          line-height: 40px;
            font-weight: 700;
           span{
               font-weight: 700;
               font-size: 14px;
               line-height: 40px;
               display: initial;
               &::before{
                   content: ('(')
               }
               &:after{
                    content: (')')
               }
           }
        } 
        .nav{
            height: 34px;
            background: #f5f5f5;
        }
          .check{
                width: 44PX;
                height: 34PX;
                float: left;
                span{
                width: 12px;
                height: 12px;
                background: url(../images/a.png)no-repeat;
                background-position:-576px -255px; 
                cursor: pointer;
                margin-left:16px;
                margin-top:12px; 
                
            }
            } 
            .check1{
                height: 44px;
                span{
                    margin-top: 16px;
                }
            }
           .check2{
               height: 120px;
            span{
                margin-top: 54px;
            }
           }
            .txt{
                width: 90px;
                line-height: 34px;
                float: left;
                text-indent: 12px;
                margin-right:26px; 
            } 
             .txt1{
                line-height: 44px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: auto;
            }
            .info{
                float: left;
                width: 90px;
                line-height: 34px;

            }
            .list{
                float: right;
                width: 576px;
                li{
                    line-height: 34px;
                    float: left;
                    width: 120px;
                    margin-left: 24px;
                    text-align: center;
                   
                }
             
                
            }
        .listImg{
            width:988px;
            height: 165px;
            border: 1px solid #ddd;
            margin-top: 20px;
            .listTop{
                height: 44px;
                background: #f5f5f5;
                border-bottom:1px solid #ddd; 
            }
            .listBot{
                height: 120px;
                .IMG{
                    width: 50px;
                    height: 50px;
                    float: left;
                    padding:35px 33px; 
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
                .style{
                    float: left;
                    width: 240px;
                    height:99px;
                    padding-top:21px;
                    .text1{
                        line-height: 20px;
                        color: #666;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    } 
                    .text2{
                        line-height: 19px;
                        font-size: 11px;
                        color: #999;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                   .list1{
                       .pri{
                           &::before{
                               content: ('￥')
                           }
                       }
                    li{
                        line-height: 59px;
                        
                    }
                     .Li1{
                        width: 76px;
                        height: 18px;
                        border: 1px solid #ddd;
                        margin-top: 21px;
                        span{
                            float: left;
                            width: 16px;
                            height: 18px;
                            line-height: 18px;
                            color: #333;
                            cursor: pointer;
                        }
                        .R{
                            border-right: 1px solid #ddd;
                        }
                         .L{
                            border-right: 1px solid #ddd;
                        }
                        input{
                            width: 42px;
                            height: 18px;
                            border: none;
                            float: left;
                            text-align: center;
                            line-height: 18px;
                        }
                    }
                    .pr_li{ 
                        text-align: right;
                        &::before{
                            content: ('￥');
                        }
                    }
                    .shezhi{
                        text-align: right;
                     .del_li{
                        margin-top:21px; 
                        color: #999;
                        line-height: 21px;
                        font-size: 11px;
                        cursor: pointer;
                    }
                    .hodd_li{
                        color: #999;
                        line-height: 11px;
                        font-size: 11px;
                        margin-top:5px; 
                         cursor: pointer;
                    }
                    }
                   
                }
            }
        }
        .bottom{
            margin-top: 40px;
            height: 60px;
            background: #f2f2f2;
            .check3{
                height: 36px;
                padding-top:24px;
                float: left; 
                span{
                    margin-top:0 
                }
            }
           .ul_li{
               float: left;
               li{
                    padding-right:13px;
                    line-height: 60px;
                    float: left;
                    color: #666;
               }
              
           }
           .ul_bot{
               height: 60px;
                  float: right;
                 width: 576px;
                 li{
                     float: left;
                 }
               .num_li{
                    height: 60px;
                     float: left;
                     width: 120px;
                    margin-left: 24px;
                    span{
                        line-height: 60px;
                        color: #666;
                        float: left;
                    }
                    i{
                        line-height: 60px;
                        color: #cc5252;
                        float: left;
                        font-style: normal;
                    }
               }
              .pri_li{
                  padding: 0 28px;
                  height: 60px;
                  h2{
                      overflow: hidden;
                       padding: 14px 28px 0 28px;
                      span{
                           line-height: 21px;
                            color: #666;
                            font-size: 12px;
                            float: left;
                            
                      }
                      i{
                          color: #ae0f17;
                          font-weight: 700;
                          font-style: normal;
                          float: left;
                          &::before{
                              content: ('￥')
                          }
                      }
                  }
                  h3{
                      overflow: hidden;
                     padding: 0 28px 0 28px;
                      span{
                            line-height: 21px;
                            color: #666;
                            font-size: 12px;
                            float: left;
                            
                      }
                      i{
                           color: #666;
                          font-style: normal;
                          float: left;
                          &::before{
                              content: ('￥')
                        }}
                  }
              }
              .count{
                  width: 180px;
                  background: #cc5252;
                  text-align: center;
                  line-height: 60px;
                  color: #fff;
                  float: right;
                  font-weight: 700;
              } 
           }
        }
    }
}